<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RuzgarOguz.Properties.Settings.ruzgarConnectionString"
      connectionString="Data Source=DESKTOP-5PC1AGA\SQLEXPRESS;Initial Catalog=ruzgar;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="connection_string" value="Data Source=DESKTOP-5PC1AGA\SQLEXPRESS;Initial Catalog=ruzgar;Integrated Security=True" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>